main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:261.5316680457868%;

}

/*Page element positioning*/
#tbaa46d8d6a824b3bbb43e599f9fc7d77{
	top:2.254326083505318%;
	left:22.625%;
	width:45.708333333333336%;
position:absolute;
}
#h4cb6f4ca147d439faa3c6bc2caf31415{
	top:14.684870614383236%;
	left:20.625%;
	width:62.375%;
position:absolute;
}
#cfc5564b401804fef9f9d7da5274ae6e1{
	top:6.826480393713289%;
	left:19.458333333333332%;
	width:71.08333333333333%;
position:absolute;
}
#dhd711a72292e146d5a5ca33db24643768{
	top:17.685346880457214%;
	left:19.083333333333332%;
	width:45.04166666666667%;
position:absolute;
}
#dcd711a72292e146d5a5ca33db24643768{
	top:20.32068582314653%;
	left:18.375%;
	width:54.083333333333336%;
position:absolute;
}

