main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:391.149595267746%;

}

/*Page element positioning*/
#tf24f57d43790467fa1baa782e5f1d187{
	top:2.4545744341727764%;
	left:21.54420921544209%;
	width:15.566625155666253%;
position:absolute;
}
#h2a1c7477806b42a9979e78e8733bb562{
	top:13.611730953139942%;
	left:20.50643420506434%;
	width:31.672893316728935%;
position:absolute;
}
#h4410594f65aa4e4894981e69e68426c9{
	top:19.115928169163745%;
	left:21.25363221253632%;
	width:59.69281859692819%;
position:absolute;
}
#h4cb169ac53194b6496d68e59438a6b82{
	top:35.74540431410052%;
	left:19.219593192195934%;
	width:54.42092154420921%;
position:absolute;
}
#h45f123c117e64a818bfde04e05a9dd9e{
	top:45.988736584847516%;
	left:20.423412204234122%;
	width:22.95558322955583%;
position:absolute;
}
#cdfbcdcac501b4f10897e48675ab85c82{
	top:4.654128147912018%;
	left:19.385637193856372%;
	width:70.65172270651723%;
position:absolute;
}
#c80874cef1b6649108c8339594819af0a{
	top:25.406439273190944%;
	left:22.54047322540473%;
	width:45.82814445828144%;
position:absolute;
}
#cbacb391df49f44ce8baa4c161ba7c8ad{
	top:52.70428222293061%;
	left:18.929016189290163%;
	width:60.14943960149439%;
position:absolute;
}
#dhbb9948868b3d4eeda8fc5514d5bd1bec{
	top:9.265752842418447%;
	left:19.593192195931923%;
	width:21.336654213366543%;
position:absolute;
}
#dcbb9948868b3d4eeda8fc5514d5bd1bec{
	top:10.923387525236425%;
	left:19.717725197177252%;
	width:70.27812370278124%;
position:absolute;
}
#dh52878f0e43864870ab582e26897f63d0{
	top:15.396875996174689%;
	left:21.54420921544209%;
	width:27.023661270236616%;
position:absolute;
}
#dc52878f0e43864870ab582e26897f63d0{
	top:17.25640208266922%;
	left:21.29514321295143%;
	width:74.80282274802823%;
position:absolute;
}
#dh5b28e08d13764cb8a00b351b64c609ed{
	top:20.90107321219849%;
	left:21.668742216687424%;
	width:37.52594437525944%;
position:absolute;
}
#dc5b28e08d13764cb8a00b351b64c609ed{
	top:22.696844118584636%;
	left:20.672478206724783%;
	width:69.61394769613948%;
position:absolute;
}
#dh141ace1835e34e7b9a89ae40c5b1d44f{
	top:27.13845499946871%;
	left:20.672478206724783%;
	width:53.67372353673724%;
position:absolute;
}
#dc141ace1835e34e7b9a89ae40c5b1d44f{
	top:28.94485176920625%;
	left:19.676214196762142%;
	width:58.655043586550434%;
position:absolute;
}
#dha59b26b048e64054ae3cf1a266132702{
	top:38.784401232600146%;
	left:20.423412204234122%;
	width:49.439601494396015%;
position:absolute;
}
#dca59b26b048e64054ae3cf1a266132702{
	top:40.71830836255445%;
	left:20.049813200498132%;
	width:74.71980074719801%;
position:absolute;
}
#dh77111ac7226e49e7940df27908b5f29b{
	top:47.79513335458506%;
	left:18.596928185969283%;
	width:65.33831465338315%;
position:absolute;
}
#dc77111ac7226e49e7940df27908b5f29b{
	top:49.697162894485174%;
	left:19.13657119136571%;
	width:60.06641760066418%;
position:absolute;
}

