main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:522.5282425434519%;

}

/*Page element positioning*/
#t4148e06707794f0ebc6f32be9639fb04{
	top:1.002865329512894%;
	left:22.62349522623495%;
	width:50.850975508509755%;
position:absolute;
}
#h7166d2f2e0454eee9d7c788b6718d007{
	top:27.761859280483925%;
	left:16%;
	width:53.583333333333336%;
position:absolute;
}
#hce1cad57a94143aebad893854125f2c5{
	top:31.860872333651702%;
	left:15.333333333333332%;
	width:60.083333333333336%;
position:absolute;
}
#hbb093d3ea2374cc48f7c9faef7a3526e{
	top:52.24450811843362%;
	left:17.05685618729097%;
	width:78.80434782608695%;
position:absolute;
}
#c58dfee062db84b38a8be2bfea0ba9c35{
	top:7.593123209169055%;
	left:16.43835616438356%;
	width:82.56537982565379%;
position:absolute;
}
#c136eca1b071546d79b191593fa57744d{
	top:13.753581661891118%;
	left:16.14777916147779%;
	width:67.16479867164799%;
position:absolute;
}
#cf7b991e306a84685808f0e3088ec1535{
	top:28.621458134352117%;
	left:16.75%;
	width:80.83333333333333%;
position:absolute;
}
#c40bacfb72c0a4ddb976d0c3b9d053956{
	top:33.24578159821713%;
	left:15.875%;
	width:76.70833333333333%;
position:absolute;
}
#c21d3ecec7ddf417396d7028de74e4cd1{
	top:59.19293218720153%;
	left:16.555183946488295%;
	width:60.618729096989966%;
position:absolute;
}
#c1a180bf6cc434e5498f0fd52d9be56cc{
	top:62.225405921681%;
	left:17.182274247491637%;
	width:75.25083612040135%;
position:absolute;
}
#dhd1105f20ebb34e518fadf65235eb33f4{
	top:3.5259471505889843%;
	left:18.01577418015774%;
	width:35.65794935657949%;
position:absolute;
}
#dcd1105f20ebb34e518fadf65235eb33f4{
	top:4.743712193568927%;
	left:17.31008717310087%;
	width:71.39892071398921%;
position:absolute;
}
#dh9705b1dc26aa41eab171fda0b23194fe{
	top:10.243553008595988%;
	left:16.43835616438356%;
	width:32.7936903279369%;
position:absolute;
}
#dc9705b1dc26aa41eab171fda0b23194fe{
	top:11.3658070678128%;
	left:16.853466168534663%;
	width:70.44416770444167%;
position:absolute;
}
#dhe2c2966986b64295a7fc916b014014ec{
	top:53.693091372174464%;
	left:16.722408026755854%;
	width:50.50167224080268%;
position:absolute;
}
#dce2c2966986b64295a7fc916b014014ec{
	top:54.83126392868514%;
	left:15.677257525083613%;
	width:75.54347826086956%;
position:absolute;
}
#dh0b714079b16645ef86e1ef83fef2e3bd{
	top:59.789875835721105%;
	left:16.722408026755854%;
	width:36.32943143812709%;
position:absolute;
}
#dc0b714079b16645ef86e1ef83fef2e3bd{
	top:60.97580388411335%;
	left:17.307692307692307%;
	width:62.29096989966555%;
position:absolute;
}
#dh8a1e48a9c50e487b8d910c2a4add694d{
	top:63.801337153772685%;
	left:18.561872909698995%;
	width:38.419732441471574%;
position:absolute;
}
#dc8a1e48a9c50e487b8d910c2a4add694d{
	top:65.05093919134033%;
	left:18.394648829431436%;
	width:75.4180602006689%;
position:absolute;
}

