main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:392.13135659735514%;

}

/*Page element positioning*/
#t6a5e32129be6481c8234370802686a29{
	top:2.191635786130228%;
	left:19.966791199667913%;
	width:50.10377750103777%;
position:absolute;
}
#h923d15643f5b4c0c905fbc3472457d51{
	top:24.383271572260455%;
	left:20.049813200498132%;
	width:8.34371108343711%;
position:absolute;
}
#h03d40cfceee6421fa07e9dd4aa701f45{
	top:24.573848597141346%;
	left:20.17434620174346%;
	width:37.60896637608966%;
position:absolute;
}
#hd630325f57624055bc113a2d1ad4cbd6{
	top:34.9073583906829%;
	left:19.652461729416633%;
	width:63.67397600330988%;
position:absolute;
}
#cbd3788cbbdda4b5a85f343d37936bfc4{
	top:4.827951296982531%;
	left:18.84599418845994%;
	width:77.04441677044417%;
position:absolute;
}
#cfa4502d90fd04f05a662ff7fd603c60b{
	top:26.161990471148755%;
	left:19.88376919883769%;
	width:57.20215857202159%;
position:absolute;
}
#c97f6d7b0b3a94ee3aaad11cf0690f64c{
	top:37.2366331392271%;
	left:20.56268100951593%;
	width:60.11584609019446%;
position:absolute;
}

