main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:661.2519919338973%;

}

/*Page element positioning*/
#tf0a94a9cc9ca4a32b51d5bf9d95fb40f{
	top:0.5477405701481389%;
	left:25.916666666666664%;
	width:63.625%;
position:absolute;
}
#h4e8701f2a6b345099412ec0b648ea83d{
	top:2.278102825843396%;
	left:20.833333333333336%;
	width:71.54166666666667%;
position:absolute;
}
#hf3e2f76514e44b35a868e60461699bb1{
	top:23.801817502800944%;
	left:16.638795986622075%;
	width:39.33946488294314%;
position:absolute;
}
#hdfc4fc1f33554c8387815b13438ebce9{
	top:40.240258931905885%;
	left:21.208333333333336%;
	width:38.916666666666664%;
position:absolute;
}
#h45e3cf5e4bcf40358881bc5511197fd2{
	top:55.02925432590564%;
	left:18.875%;
	width:21.958333333333332%;
position:absolute;
}
#h76e6f6fffaf64679b7223583baf4caf9{
	top:62.47977094485249%;
	left:16.50980392156863%;
	width:51.254901960784316%;
position:absolute;
}
#c0fd18a83c11e426bb86e26c9954de82c{
	top:5.682808415286941%;
	left:22.25%;
	width:46.33333333333333%;
position:absolute;
}
#c0069bfa55541495c9013674bde795a6c{
	top:10.662268143906386%;
	left:21.208333333333336%;
	width:63.916666666666664%;
position:absolute;
}
#cd36fca897d564801a11e4eb1216871cf{
	top:21.312087638491224%;
	left:16.387959866220736%;
	width:72.07357859531773%;
position:absolute;
}
#ca74d56b265f746f8ae7e8ad99c3dc761{
	top:27.461720403336237%;
	left:12.918060200668895%;
	width:50.7943143812709%;
position:absolute;
}
#c5058e9ee341d4f7c8e27b3049a87f133{
	top:33.31880990912486%;
	left:18.18561872909699%;
	width:70.44314381270902%;
position:absolute;
}
#cd001d1eff1454fb3b1cec2414649e4e6{
	top:46.04755384040832%;
	left:18.208333333333336%;
	width:75.16666666666667%;
position:absolute;
}
#c709c68d345e144deb599dd6eb9b1185c{
	top:56.01892194696876%;
	left:17.416666666666668%;
	width:74.70833333333333%;
position:absolute;
}
#cf15c1f3c7ed44487993ee7e8deb20f81{
	top:60.88011950703349%;
	left:16.31372549019608%;
	width:62.313725490196084%;
position:absolute;
}
#c025b2078ff694e3dab328bebb8787abe{
	top:63.718411552346566%;
	left:19.019607843137255%;
	width:68.86274509803921%;
position:absolute;
}
#dh3af249e9ba3043a5924e00e40a42d118{
	top:3.3549109921573512%;
	left:23.625%;
	width:33.708333333333336%;
position:absolute;
}
#dc3af249e9ba3043a5924e00e40a42d118{
	top:4.226316444665754%;
	left:23.083333333333332%;
	width:48.25%;
position:absolute;
}
#dha27ebbb0b5f349c19917a97dabe8fcb7{
	top:6.025146271629528%;
	left:22.875%;
	width:36.333333333333336%;
position:absolute;
}
#dca27ebbb0b5f349c19917a97dabe8fcb7{
	top:6.977467944727997%;
	left:23.125%;
	width:74.95833333333334%;
position:absolute;
}
#dh3ded277e7aee4f818af795627f878167{
	top:15.971617079546869%;
	left:22.375%;
	width:47.95833333333333%;
position:absolute;
}
#dc3ded277e7aee4f818af795627f878167{
	top:16.681190090875138%;
	left:23.25%;
	width:70.79166666666666%;
position:absolute;
}
#dh0331271c722d4e96812d38937305e97e{
	top:24.97821486368729%;
	left:17.307692307692307%;
	width:53.09364548494984%;
position:absolute;
}
#dc0331271c722d4e96812d38937305e97e{
	top:26.0176770820366%;
	left:17.683946488294314%;
	width:57.77591973244147%;
position:absolute;
}
#dhb7f696fe537340a2b42b1bc7f454ec4c{
	top:29.714925930536534%;
	left:15.96989966555184%;
	width:64.96655518394648%;
position:absolute;
}
#dcb7f696fe537340a2b42b1bc7f454ec4c{
	top:30.71081787626043%;
	left:17.809364548494983%;
	width:70.48494983277592%;
position:absolute;
}
#dh3208e2522bf04e3cb42855f0332d9ea5{
	top:41.34196439686294%;
	left:19.708333333333332%;
	width:39.29166666666667%;
position:absolute;
}
#dc3208e2522bf04e3cb42855f0332d9ea5{
	top:42.44366986181999%;
	left:21.083333333333336%;
	width:76.41666666666667%;
position:absolute;
}

