main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:522.7443836014154%;

}

/*Page element positioning*/
#t44f032de2c224183b738e936540ac8da{
	top:0.9935617200540499%;
	left:22.82608695652174%;
	width:73.62040133779264%;
position:absolute;
}
#hb24afdf9007d4ea28dd6f252f5b995b0{
	top:3.4655432795485255%;
	left:20.317725752508363%;
	width:17.05685618729097%;
position:absolute;
}
#hf57b35f4e52f42118d69248f1e969796{
	top:27.756140211429937%;
	left:19.28009929664874%;
	width:41.539098055440626%;
position:absolute;
}
#c2fe453d5b39b4e249facbd2de15f6b30{
	top:7.82131786026548%;
	left:18.729096989966553%;
	width:34.15551839464883%;
position:absolute;
}
#c2a0475bcf7bc416288c9c3dbe50e52c5{
	top:14.283443287497018%;
	left:18.394648829431436%;
	width:66.47157190635451%;
position:absolute;
}
#c27726169a06b48409034c831f8893408{
	top:32.44575153008505%;
	left:18.94911046752172%;
	width:64.41870086884568%;
position:absolute;
}
#cf4951c8168c146528a8a5f1aa261a668{
	top:38.44686431921151%;
	left:17.666528754654532%;
	width:67.52172114191146%;
position:absolute;
}
#cd286106799e14654969579f8df7a90dc{
	top:45.91844845401796%;
	left:16.50806785270997%;
	width:70.04551096400496%;
position:absolute;
}
#cfb6a2aa90c8247c58130fa79e824b224{
	top:52.39647086877037%;
	left:15.442092154420923%;
	width:83.68617683686178%;
position:absolute;
}
#dhb29974aafe91441b9535de9f7f0510c6{
	top:4.880375168905492%;
	left:18.18561872909699%;
	width:16.429765886287626%;
position:absolute;
}
#dcb29974aafe91441b9535de9f7f0510c6{
	top:6.017009776647325%;
	left:18.645484949832774%;
	width:68.22742474916387%;
position:absolute;
}
#dh0b70ac2bccb24c39b7e7531755bc0f03{
	top:8.35386694221445%;
	left:18.352842809364546%;
	width:47.9933110367893%;
position:absolute;
}
#dc0b70ac2bccb24c39b7e7531755bc0f03{
	top:9.490501549956283%;
	left:15.050167224080269%;
	width:78.51170568561872%;
position:absolute;
}
#dhb6681509082b4d019cb68e9f202c032d{
	top:20.58659883951991%;
	left:21.237458193979933%;
	width:35.74414715719064%;
position:absolute;
}
#dcb6681509082b4d019cb68e9f202c032d{
	top:21.65169700341785%;
	left:18.729096989966553%;
	width:76.42140468227426%;
position:absolute;
}
#dhaff458bd2b1448c7b950bf2c8fe4ef1b{
	top:29.147126619505602%;
	left:19.15597848572611%;
	width:15.51510136532892%;
position:absolute;
}
#dcaff458bd2b1448c7b950bf2c8fe4ef1b{
	top:30.426834114935218%;
	left:18.36988001654944%;
	width:73.35539925527513%;
position:absolute;
}
#dhb8227c131e704c77a8ccbe87b7d783e0{
	top:33.963913838327635%;
	left:18.659495242035582%;
	width:26.354985519238728%;
position:absolute;
}
#dcb8227c131e704c77a8ccbe87b7d783e0{
	top:35.203878864955094%;
	left:18.121638394704178%;
	width:68.92842366570127%;
position:absolute;
}
#dh4c2294c310064832b35284dcbbd5e96d{
	top:43.128527144106194%;
	left:17.37691352916839%;
	width:31.981795614398013%;
position:absolute;
}
#dc4c2294c310064832b35284dcbbd5e96d{
	top:44.52746204594229%;
	left:17.045924700041372%;
	width:75.50682664460075%;
position:absolute;
}

