<!--
Produced with Notedigest
Which is distributed under the MIT license.  For more information see this page:
https://github.com/michardy/note-digest/blob/master/LICENSE

Downloads can be found here:
https://github.com/michardy/note-digest/releases

Code is freely available on github:
https://github.com/michardy/note-digest
-->
<!DOCTYPE html>
<html>
	<head>
		<title>Table of Contents: Notes</title>
		<link rel="stylesheet" href="static.css"/>
	</head>
	<body>
		<header>
			<h1>Table of Contents</h1>
			<div class="hcontrol">
				Size:&nbsp;<select id="">
					<option>200%</option>
					<option>150%</option>
					<option default>100%</option>
					<option>75%</option>
					<option>50%</option>
					<option>25%</option>
				</select>&nbsp;
				<input id="color" type="checkbox">Color</input>&nbsp;
				<button id="fscreen" onclick=""><img id="fscreen-icon" src="fullscreen-op.svg"></img></button>&nbsp;
			</div>
		</header>
		<main>
			<!-- NEXT CHAPTER -->
			<!--
			⇑ DO NOT REMOVE ABOVE ⇑
			Used by notedigest to place the next chapter in the table of contents.
			Removal will reneder file readonly.

			Yes, I know this is a kluge.
			-->
		</main>
		<footer>
			These notes were digitized by <a href="">notedigest</a> which is distributed under the <a href="https://github.com/michardy/note-digest/blob/master/LICENSE">MIT License</a>.  
		</footer>
	</body>
</html>
