main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:260.33999175275864%;

}

/*Page element positioning*/
#ta6ce239e90704d7f9e9fb216570f4683{
	top:1.5759312320916905%;
	left:32.97476210177906%;
	width:56.5990897807199%;
position:absolute;
}
#h5947df1e00e347f5be0d9ae2f8d9b12f{
	top:6.749442852594716%;
	left:21.14191146048821%;
	width:10.136532892014895%;
position:absolute;
}
#hcfeb269e441e4b6385814f4a24f4b2af{
	top:29.672078955746578%;
	left:19.23872569300786%;
	width:8.440215142738932%;
position:absolute;
}
#c77d1e8516f294764ad427a4c07486d6f{
	top:9.50334288443171%;
	left:19.94207695490277%;
	width:73.81050889532477%;
position:absolute;
}
#c3df20c7edd624f9992ab23fa078f0978{
	top:32.31454950652658%;
	left:18.121638394704178%;
	width:75.01034340091022%;
position:absolute;
}

