main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:786.4533167838918%;

}

/*Page element positioning*/
#t9573f1adb0be45b5a53d186527b54994{
	top:0.3968883949833307%;
	left:32.166666666666664%;
	width:46.58333333333333%;
position:absolute;
}
#h88e32bffc5bb419dbe78f1975478e193{
	top:42.848071122400384%;
	left:30.875000000000004%;
	width:32.083333333333336%;
position:absolute;
}
#h64a723e33d9642ee967d756d954148bb{
	top:42.87982219399905%;
	left:24.5%;
	width:43.833333333333336%;
position:absolute;
}
#hfcde041d4b134447bade98566a8b66c5{
	top:66.35444779594644%;
	left:14.374999999999998%;
	width:0.16666666666666669%;
position:absolute;
}
#c4433bc96412b4d088754f418d4b98a71{
	top:2.254326083505318%;
	left:19.875%;
	width:73.25%;
position:absolute;
}
#c63fa754751764bdd9642ba4003619b29{
	top:7.546171349949728%;
	left:18.958333333333332%;
	width:53.541666666666664%;
position:absolute;
}
#c3b236bc8cd264a0ea427f449f2f84efa{
	top:14.679578769116791%;
	left:18.291666666666668%;
	width:58.58333333333333%;
position:absolute;
}
#c3a236c61bf384bb8af50cf497440b744{
	top:18.357411229295657%;
	left:16.958333333333332%;
	width:65.29166666666667%;
position:absolute;
}
#cad4d736c914d471f8609b71e427dafd7{
	top:29.930676827009577%;
	left:17.666666666666668%;
	width:68.08333333333333%;
position:absolute;
}
#cfbbcf0d2bc6f47399cef1486b07eea03{
	top:35.22781393872043%;
	left:19.75%;
	width:71.16666666666667%;
position:absolute;
}
#cd75f35802a0b4dcba76a4b3c94b6e81f{
	top:43.763560353495265%;
	left:3.75%;
	width:94%;
position:absolute;
}
#dh74185020bd3a43fea2b92f942c092391{
	top:4.111763772027306%;
	left:20.083333333333332%;
	width:17.041666666666664%;
position:absolute;
}
#dc74185020bd3a43fea2b92f942c092391{
	top:5.000793776789967%;
	left:20.541666666666668%;
	width:73.04166666666667%;
position:absolute;
}
#dh9f7200f518fa4c128aef4b344588809c{
	top:11.737312800973699%;
	left:17.708333333333336%;
	width:31%;
position:absolute;
}
#dc9f7200f518fa4c128aef4b344588809c{
	top:12.552256972006138%;
	left:18%;
	width:73.625%;
position:absolute;
}
#dh63adbbc5b2e54f08931e341353c74c1d{
	top:28.343123247076257%;
	left:17.083333333333332%;
	width:48.91666666666667%;
position:absolute;
}
#dc63adbbc5b2e54f08931e341353c74c1d{
	top:29.200402180240246%;
	left:18.25%;
	width:60.333333333333336%;
position:absolute;
}
#dh002436bfed2f4e379dd74b6e158d1808{
	top:36.98999841244642%;
	left:19.666666666666664%;
	width:64.125%;
position:absolute;
}
#dc002436bfed2f4e379dd74b6e158d1808{
	top:38.01661639413664%;
	left:20.25%;
	width:76.875%;
position:absolute;
}
#dh5172c2bbc5fa4bfa9ad01a677250e28d{
	top:51.29385616764566%;
	left:21.625%;
	width:37.5%;
position:absolute;
}
#dc5172c2bbc5fa4bfa9ad01a677250e28d{
	top:52.29930676827009%;
	left:18.666666666666668%;
	width:71.91666666666666%;
position:absolute;
}
#dh2b14d2934d42432598d1132818ed4fa7{
	top:68.59289834365244%;
	left:20.041666666666664%;
	width:37.833333333333336%;
position:absolute;
}
#dc2b14d2934d42432598d1132818ed4fa7{
	top:69.52426311054664%;
	left:19.25%;
	width:33.375%;
position:absolute;
}

