main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:649.9070253203363%;

}

/*Page element positioning*/
#tadf1502380604c3dae7f7cf1ecee4c7c{
	top:0.42737768705747275%;
	left:25.36322125363221%;
	width:59.94188459941885%;
position:absolute;
}
#hddb0babc67204e4685702407bc972f03{
	top:10.320852203865535%;
	left:19.80074719800747%;
	width:27.770859277708592%;
position:absolute;
}
#hd52a1105be8b4246ac9103735c81c341{
	top:21.573005039229447%;
	left:17.268576172685762%;
	width:64.09298464092986%;
position:absolute;
}
#h505047357184481eab33a256f49a09a6{
	top:31.836448300057405%;
	left:19.219593192195934%;
	width:57.32669157326692%;
position:absolute;
}
#h52fc74a7520e495f957a6a99f2a8d140{
	top:34.53466862282325%;
	left:18.43088418430884%;
	width:31.921959319219596%;
position:absolute;
}
#h86e2a59157d242278c96f9b8efe98c4e{
	top:34.80257702366524%;
	left:21.046077210460773%;
	width:22.872561228725612%;
position:absolute;
}
#h9461dd083dbb42b2ae11165885b8ba3b{
	top:41.34081775849972%;
	left:19.197352089366984%;
	width:69.92139015308233%;
position:absolute;
}
#h591b890f3bb04de8b03475eb70118097{
	top:49.63959941315303%;
	left:16.301199834505585%;
	width:78.07199007033513%;
position:absolute;
}
#h2d7a32c7b1a9488dae8abc32d3ee24dd{
	top:51.32997384703706%;
	left:19.528340918494%;
	width:23.872569300786097%;
position:absolute;
}
#hd761a7f7be9f4e7b97b44efc5fd272a2{
	top:56.76468712126045%;
	left:20.645428216797683%;
	width:26.768721555647495%;
position:absolute;
}
#h1b88295c2c344c62a3d912cf41d34409{
	top:61.229827135293746%;
	left:22.217625155151012%;
	width:27.347952006619774%;
position:absolute;
}
#cf312888d76074aa6ae7a83fc11a1a303{
	top:6.7359826497416595%;
	left:20.83852220838522%;
	width:76.87837276878373%;
position:absolute;
}
#cd7943171f2884f599f80471355299dec{
	top:11.462652293168336%;
	left:21.793275217932752%;
	width:73.47447073474471%;
position:absolute;
}
#ce1618c479a5a4d598b0fb92f1ff5443b{
	top:23.18045544428143%;
	left:19.0950601909506%;
	width:67.74595267745953%;
position:absolute;
}
#c8a03300ac63b479b8f1b9707bed4bd74{
	top:32.9080819034254%;
	left:19.012038190120382%;
	width:74.09713574097135%;
position:absolute;
}
#c0c199ff5bf5d48769789fdac849743fd{
	top:42.839829048925175%;
	left:19.15597848572611%;
	width:74.5138601572197%;
position:absolute;
}
#cd9bd0fcac59d4a6bb667b8d2bcf358df{
	top:51.91044204886139%;
	left:18.328506412908567%;
	width:73.76913529168391%;
position:absolute;
}
#cd938562fddf1498183f33c42160c5f73{
	top:57.370670408879256%;
	left:23.376086057095574%;
	width:70.5006206040546%;
position:absolute;
}
#c0bbb19b7a3e643428f6e4b40340148a1{
	top:62.1547489953435%;
	left:18.659495242035582%;
	width:67.56309474555233%;
position:absolute;
}
#dhc32d2046e56c47c8a2bf91d5cf5cd8bb{
	top:2.1815398354276967%;
	left:24.408468244084684%;
	width:22.789539227895393%;
position:absolute;
}
#dcc32d2046e56c47c8a2bf91d5cf5cd8bb{
	top:3.259552210244307%;
	left:22.748028227480283%;
	width:68.53466168534662%;
position:absolute;
}
#dhada80e3cf6e2476086911106e09d52ec{
	top:15.085794475983928%;
	left:22.415940224159403%;
	width:58.281444582814444%;
position:absolute;
}
#dcada80e3cf6e2476086911106e09d52ec{
	top:16.221215793838105%;
	left:24.283935242839352%;
	width:65.33831465338315%;
position:absolute;
}
#dheece8fed73de481c928b90a55f1ca8ff{
	top:35.65733239778019%;
	left:20.298879202988793%;
	width:33.706932337069325%;
position:absolute;
}
#dceece8fed73de481c928b90a55f1ca8ff{
	top:36.754481086942654%;
	left:18.472395184723954%;
	width:62.18347862183479%;
position:absolute;
}
#dh8c3a53a6a9ca4f99903f8a4e00e9bcc6{
	top:54.55763220003828%;
	left:22.838229209764172%;
	width:18.452627223831193%;
position:absolute;
}
#dc8c3a53a6a9ca4f99903f8a4e00e9bcc6{
	top:55.62926580340627%;
	left:24.162184526272238%;
	width:19.197352089366984%;
position:absolute;
}
#dh9b0e5464d6c6475a84bb7aab6a434b2b{
	top:58.86968169930471%;
	left:25.196524617294163%;
	width:17.128671907323127%;
position:absolute;
}
#dc9b0e5464d6c6475a84bb7aab6a434b2b{
	top:59.52669515851247%;
	left:25.734381464625567%;
	width:18.659495242035582%;
position:absolute;
}

