<!--
Produced with Notedigest
Which is distributed under the MIT license.  For more information see this page:
https://github.com/michardy/note-digest/blob/master/LICENSE

Downloads can be found here:
https://github.com/michardy/note-digest/releases

Code is freely available on github:
https://github.com/michardy/note-digest
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Notes</title>
		<link rel="stylesheet" href="static.css"/>
		<link rel="stylesheet" href="gen.css"/>
		<script src="util.js"></script>
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0">
		<!--Please wait while I sacrafice a newborn goat to IE/Edge. (Edit: It still does not work)-->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="description" content="Notes organized and digitized with notedigest (https://github.com/michardy/note-digest)">
	</head>
	<body>
		<header>
			<span class="fake_heading"><a id="home"  title="Table of Contents" href="../index.html">📖</a></span>
			<span class="fake_heading">&nbsp;|</span>
			<span id="himg">{{ BREAK }}</span>
			<span class="hcontrol">
				Size:&nbsp;<select onchange="adjust_size(this);">
					<option>200%</option>
					<option>150%</option>
					<option default>100%</option>
					<option>75%</option>
					<option>50%</option>
					<option>25%</option>
				</select>&nbsp;
				<input id="color" type="checkbox">Color</input>&nbsp;
				<button id="fscreen" onclick="req_fullscreen();"><img id="fscreen-icon" src="fullscreen-op.svg"></img></button>&nbsp;
			</span>
		</header>
		<main>
			<!-- Start document -->
{{ BREAK }}
		</main>
		<footer>
			These notes were digitized by <a href="https://github.com/michardy/note-digest">notedigest</a> which is distributed under the <a href="https://github.com/michardy/note-digest/blob/master/LICENSE">MIT License</a>.
		</footer>
	</body>
</html>
