main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:522.2539880931857%;

}

/*Page element positioning*/
#tf8aec8104e1a43dc95919907802efece{
	top:0.8840395030264415%;
	left:25.583333333333336%;
	width:28.499999999999996%;
position:absolute;
}
#h3b1556d3e53d48d895b786d68dafe671{
	top:7.534246575342466%;
	left:19.541666666666664%;
	width:20.333333333333332%;
position:absolute;
}
#h5d8bb1e66a1742d59b6ee97a950ba76e{
	top:15.028671551449508%;
	left:17.875%;
	width:60.791666666666664%;
position:absolute;
}
#h2bfa647f582843b09fc0540cc3295a8a{
	top:26.27429117553361%;
	left:37.360824742268036%;
	width:23.216494845360824%;
position:absolute;
}
#had3095a8a72a49cfb51698dd1ba6945e{
	top:52.1344377190188%;
	left:19.774247491638796%;
	width:41.9314381270903%;
position:absolute;
}
#h598b39bb8f35494781b9002e40cc8e72{
	top:62.20133800573431%;
	left:19.43979933110368%;
	width:30.76923076923077%;
position:absolute;
}
#hb509038273d04315852fdcc0b89a333e{
	top:64.86142083466072%;
	left:18.729096989966553%;
	width:62.70903010033445%;
position:absolute;
}
#c6da7c30eec6842099d340adc4dab92e5{
	top:12.519910799617712%;
	left:21.125%;
	width:53.37499999999999%;
position:absolute;
}
#c10c0c9c1698144949f1a6f31dfdffe4e{
	top:20.35680152914941%;
	left:18.958333333333332%;
	width:59.791666666666664%;
position:absolute;
}
#cceedd04d378e45b39a558bad1d8aeeb8{
	top:33.88021662949984%;
	left:19.175257731958766%;
	width:47.381443298969074%;
position:absolute;
}
#cc26a86e8efd34c3099e8b276e305ceca{
	top:53.480407773176175%;
	left:19.147157190635454%;
	width:77.09030100334448%;
position:absolute;
}
#c88cee3e2c1494c42b4ffbdf2989f057c{
	top:63.491557820962086%;
	left:20.652173913043477%;
	width:40.67725752508361%;
position:absolute;
}
#c4eed51c813fa470f85714c1f676ef8c5{
	top:70.18158649251353%;
	left:20.48494983277592%;
	width:71.07023411371237%;
position:absolute;
}
#dhcfee2db5a2c7436aa733fe11312f015f{
	top:3.4565148136349158%;
	left:18.5%;
	width:53.37499999999999%;
position:absolute;
}
#dccfee2db5a2c7436aa733fe11312f015f{
	top:4.802484867792291%;
	left:19.625%;
	width:73.95833333333334%;
position:absolute;
}
#dhb83b12d9248440fca0b7f52ef5766758{
	top:8.935966868429436%;
	left:20.125%;
	width:13.958333333333334%;
position:absolute;
}
#dcb83b12d9248440fca0b7f52ef5766758{
	top:10.20229372411596%;
	left:19.541666666666664%;
	width:64.29166666666667%;
position:absolute;
}
#dh5eaca5c6e93a440cbe8e6724d55f8722{
	top:13.061484549219497%;
	left:18.791666666666668%;
	width:20.083333333333332%;
position:absolute;
}
#dc5eaca5c6e93a440cbe8e6724d55f8722{
	top:14.128703408728892%;
	left:20.125%;
	width:27.208333333333336%;
position:absolute;
}
#dhd17b008c79da4cbc9ceb124923f8c0b6{
	top:16.342784326218542%;
	left:19.5%;
	width:47.66666666666667%;
position:absolute;
}
#dcd17b008c79da4cbc9ceb124923f8c0b6{
	top:17.577253902516727%;
	left:18.208333333333336%;
	width:68.91666666666667%;
position:absolute;
}
#dh2355d5258bbf463e83f2b1013e94280b{
	top:27.78751194647977%;
	left:21.77319587628866%;
	width:20%;
position:absolute;
}
#dc2355d5258bbf463e83f2b1013e94280b{
	top:27.84326218540937%;
	left:21.278350515463917%;
	width:70.96907216494846%;
position:absolute;
}
#dh68c599c743d34d0fa7dc81662e4c710e{
	top:42.648932781140495%;
	left:21.814432989690722%;
	width:56.16494845360825%;
position:absolute;
}
#dc68c599c743d34d0fa7dc81662e4c710e{
	top:43.963045555909524%;
	left:21.896907216494846%;
	width:62.06185567010309%;
position:absolute;
}
#dh832be7ac00e64bc792b0521a0278d093{
	top:58.05989168525008%;
	left:19.690635451505017%;
	width:22.82608695652174%;
position:absolute;
}
#dc832be7ac00e64bc792b0521a0278d093{
	top:59.38993309971329%;
	left:19.774247491638796%;
	width:71.27926421404682%;
position:absolute;
}
#dhdc8ec743511649889b6222bdd43d9eb4{
	top:66.33482000637146%;
	left:19.48160535117057%;
	width:36.20401337792642%;
position:absolute;
}
#dcdc8ec743511649889b6222bdd43d9eb4{
	top:67.64096846129341%;
	left:20.401337792642142%;
	width:70.61036789297658%;
position:absolute;
}

