main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:391.7504310179744%;

}

/*Page element positioning*/
#taabb4940a4bf4b3980e3d20ac81362ee{
	top:1.2717253073336159%;
	left:24.493173355399257%;
	width:65.37029375258585%;
position:absolute;
}
#hb1462a80e4fa4dc98421c10517f1d6cc{
	top:3.8363713437897413%;
	left:22.176251551510138%;
	width:18.94911046752172%;
position:absolute;
}
#h8ef652d9525344c9aaee9e75065e5350{
	top:13.692242475625266%;
	left:19.486967314853125%;
	width:24.57592056268101%;
position:absolute;
}
#h65de7e48d0c34142a0e39b3452badb5a{
	top:23.30436625688851%;
	left:20.024824162184526%;
	width:41.083988415390984%;
position:absolute;
}
#h0a4250567377450392e670a3ad579f33{
	top:35.14200932598558%;
	left:8.924865089248652%;
	width:24.948111249481112%;
position:absolute;
}
#he2499a04c8fc49689d63e9e49cb5b9ad{
	top:40.94955489614243%;
	left:17.891241178912413%;
	width:28.55956828559568%;
position:absolute;
}
#h8de7d04844bd40eaaf9274604b2af0b2{
	top:42.22128020347605%;
	left:14.694894146948942%;
	width:0.08302200083022%;
position:absolute;
}
#cf6bb9991ad1f454b97b1e1588fbb8850{
	top:19.10767274268758%;
	left:20.397186594952423%;
	width:50.393049234588325%;
position:absolute;
}
#c7ecb7068af804c29a1cb93fcbe2ab576{
	top:30.479016532428993%;
	left:16.880430285477864%;
	width:63.01199834505585%;
position:absolute;
}
#c46a514abba4c4e719ba093d0fb9a0853{
	top:42.44383213225943%;
	left:18.55541718555417%;
	width:59.69281859692819%;
position:absolute;
}
#dhb59eecfb950f44c195ee16f2dbdc9d69{
	top:5.712166172106825%;
	left:18.783616052958212%;
	width:24.824162184526273%;
position:absolute;
}
#dcb59eecfb950f44c195ee16f2dbdc9d69{
	top:7.450190758796101%;
	left:18.038891187422422%;
	width:76.1274306992139%;
position:absolute;
}
#dh1d7942b2d756473faaf0df767464287a{
	top:15.398473929631198%;
	left:19.528340918494%;
	width:50.268928423665706%;
position:absolute;
}
#dc1d7942b2d756473faaf0df767464287a{
	top:17.094107672742687%;
	left:20.72817542407944%;
	width:65.12205213074058%;
position:absolute;
}
#dh166599ebf3184777a223416ee2060a79{
	top:19.96608732513777%;
	left:19.528340918494%;
	width:50.8067852709971%;
position:absolute;
}
#dc166599ebf3184777a223416ee2060a79{
	top:21.682916490038153%;
	left:20.645428216797683%;
	width:70.37649979313198%;
position:absolute;
}
#dhebd473ccc1244a73a0803992dfd2c1aa{
	top:24.31114879186096%;
	left:18.783616052958212%;
	width:42.4906909391808%;
position:absolute;
}
#dcebd473ccc1244a73a0803992dfd2c1aa{
	top:26.02797795676134%;
	left:10.136532892014895%;
	width:81.05088953247828%;
position:absolute;
}
#dh8c3928a9d30149b68981674b954307d2{
	top:37.36752861381942%;
	left:17.51764217517642%;
	width:36.612702366127024%;
position:absolute;
}
#dc8c3928a9d30149b68981674b954307d2{
	top:39.14794404408647%;
	left:18.679950186799502%;
	width:71.89705271897053%;
position:absolute;
}
#dh7c0bd7fc230c41b98f7af226543f358f{
	top:44.7011445527766%;
	left:18.638439186384392%;
	width:40.846824408468244%;
position:absolute;
}
#dc7c0bd7fc230c41b98f7af226543f358f{
	top:46.21661721068249%;
	left:19.13657119136571%;
	width:64.50809464508094%;
position:absolute;
}

