main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:392.4070294158888%;

}

/*Page element positioning*/
#tfad76fcdf4bb45bba475ae8146d796e2{
	top:0.8281133878331033%;
	left:24.083333333333336%;
	width:52.541666666666664%;
position:absolute;
}
#h4662ace02db7431fb7a9c11977a4e6ae{
	top:36.08663340057331%;
	left:42.175176421751765%;
	width:21.25363221253632%;
position:absolute;
}
#hdd3918e794cf43238c33af80d458b332{
	top:40.66249071026648%;
	left:18.181818181818183%;
	width:51.93026151930261%;
position:absolute;
}
#cf00a8410e45e47149a3ed40e4298e6df{
	top:10.903492939802527%;
	left:17.25%;
	width:80.83333333333333%;
position:absolute;
}
#c5baccf5743e54e06bbfd60283d102bd9{
	top:21.743284849771737%;
	left:17.916666666666668%;
	width:78.54166666666667%;
position:absolute;
}
#cf05865b5ab3c4a21bdf2de95975e69a4{
	top:42.520437413738186%;
	left:17.18555417185554%;
	width:72.81029472810295%;
position:absolute;
}
#dh47ee52f4dbe347b0877c6b1edb95cc18{
	top:4.565240471387621%;
	left:18.625%;
	width:41.625%;
position:absolute;
}
#dc47ee52f4dbe347b0877c6b1edb95cc18{
	top:6.3488693067204585%;
	left:17.041666666666664%;
	width:75.875%;
position:absolute;
}
#dh4445051f64474c7e8379c24c74ce8282{
	top:15.458116572884595%;
	left:17.333333333333336%;
	width:37.458333333333336%;
position:absolute;
}
#dc4445051f64474c7e8379c24c74ce8282{
	top:17.029408642106382%;
	left:17.416666666666668%;
	width:81.20833333333334%;
position:absolute;
}
#dh707761fedb3a40d485b28cccedef1b6e{
	top:36.96783097993418%;
	left:18.181818181818183%;
	width:40.05811540058115%;
position:absolute;
}
#dc707761fedb3a40d485b28cccedef1b6e{
	top:38.44357150440599%;
	left:18.223329182233293%;
	width:64.7156496471565%;
position:absolute;
}

