main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:521.380085548384%;

}

/*Page element positioning*/
#t693df27f414e4e5b9a35ea56087c2988{
	top:1.5301243226012113%;
	left:23.251965246172944%;
	width:28.051303268514687%;
position:absolute;
}
#h2a68610290814c669c45f761090dc40c{
	top:30.63436404207842%;
	left:17.583781547372777%;
	width:31.981795614398013%;
position:absolute;
}
#heede72aa53e5415e8d8fcbc32ab9b8de{
	top:65.51641695887791%;
	left:18.76297218762972%;
	width:70.81776670817767%;
position:absolute;
}
#ce553861a9ea3417980fb69d554b2b609{
	top:10.113165444692381%;
	left:19.859329747621018%;
	width:58.502275548200245%;
position:absolute;
}
#cdfe7ce650693470fb134344ebd71f054{
	top:13.866751673573477%;
	left:16.756309474555234%;
	width:53.78568473314026%;
position:absolute;
}
#c30866ae58bc54711a4ebe0f3789b81c2{
	top:17.91520561045585%;
	left:17.41828713280927%;
	width:63.301613570541996%;
position:absolute;
}
#c1a8fa9c3e2894ddd901f6ed3b532af93{
	top:22.338221230474975%;
	left:20.14894497310716%;
	width:75.79644187008688%;
position:absolute;
}
#cfb0179494ab3482a836663bfd32f5bf1{
	top:32.052916799489964%;
	left:15.432354158047165%;
	width:55.23376086057096%;
position:absolute;
}
#c284626ae102a48c9983c5cd0129c4d07{
	top:52.63787057698438%;
	left:16.894977168949772%;
	width:62.84765462847655%;
position:absolute;
}
#c33e39b25f9ab4917b5d0ea61d228b108{
	top:66.9110615237488%;
	left:16.10626816106268%;
	width:79.53507679535076%;
position:absolute;
}
#c8cd0f7b336a8477fa764071a7a18b311{
	top:77.7414727446605%;
	left:16.2751677852349%;
	width:80.99832214765101%;
position:absolute;
}
#dhabfb54da7f0d4474a473d47a5b39f230{
	top:3.642014663691425%;
	left:17.294166321886635%;
	width:38.97393462970625%;
position:absolute;
}
#dcabfb54da7f0d4474a473d47a5b39f230{
	top:3.8014026139623844%;
	left:16.466694249069093%;
	width:74.92759619362846%;
position:absolute;
}
#dh332445b1070744bc8834a1e630027831{
	top:10.949952183614919%;
	left:18.163011998345056%;
	width:23.789822093504345%;
position:absolute;
}
#dc332445b1070744bc8834a1e630027831{
	top:12.217086388269047%;
	left:17.790649565577162%;
	width:76.78940835746793%;
position:absolute;
}
#dh5a2579dfc73f4443a94cd0b63abd596d{
	top:14.233343959196684%;
	left:17.873396772858914%;
	width:40.17376913529168%;
position:absolute;
}
#dc5a2579dfc73f4443a94cd0b63abd596d{
	top:15.659866114121773%;
	left:18.038891187422422%;
	width:66.61150186181216%;
position:absolute;
}
#dh2975c6e963904293b90b9cecb3a7621b{
	top:18.489002231431304%;
	left:19.69383533305751%;
	width:45.75920562681009%;
position:absolute;
}
#dc2975c6e963904293b90b9cecb3a7621b{
	top:19.827861013707363%;
	left:20.35581299131154%;
	width:67.68721555647497%;
position:absolute;
}
#dh9d8cb54f2aa34911b110aaa9afad521a{
	top:26.546063117628304%;
	left:17.914770376499792%;
	width:55.60612329333885%;
position:absolute;
}
#dc9d8cb54f2aa34911b110aaa9afad521a{
	top:27.86898310487727%;
	left:17.25279271824576%;
	width:65.70128258171287%;
position:absolute;
}

