main {
	background-color: white;
	width: 100%;
	position:relative;
	/*Padding percent for page length*/
	padding-bottom:654.4067482214242%;

}

/*Page element positioning*/
#te373763a53e642d9998488ef324071b3{
	top:0.8981463787502388%;
	left:24.540901502504173%;
	width:68.48914858096829%;
position:absolute;
}
#hf7ee0fd3a31a4880b7b5d273a777798e{
	top:21.237021466335435%;
	left:14.160401002506266%;
	width:77.06766917293233%;
position:absolute;
}
#h51adcc18f87e44fca8a555526fb08392{
	top:22.198866169819734%;
	left:10.192147034252297%;
	width:1.2949039264828737%;
position:absolute;
}
#hf21f4ac50ce04b5bb09357eb6b3255b4{
	top:26.02713548633671%;
	left:18.796992481203006%;
	width:20.050125313283207%;
position:absolute;
}
#h131e4b61b1894e7387d7f9c42acef33a{
	top:48.05401617937448%;
	left:28.97822445561139%;
	width:44.17922948073702%;
position:absolute;
}
#h767b861638b44427987aa8e9f1b0d908{
	top:55.640486655200974%;
	left:23.450586264656618%;
	width:64.36348408710218%;
position:absolute;
}
#c857cbe7e683943918e81aa26a06ea5c2{
	top:8.331740875214983%;
	left:19.574290484140235%;
	width:43.82303839732889%;
position:absolute;
}
#c0ea24f57473d4176b0650035983e9ccb{
	top:12.574049302503344%;
	left:16.9449081803005%;
	width:80.84307178631052%;
position:absolute;
}
#c225cf7c7f78a4b42972a4e6f2786dcbd{
	top:18.345117523409137%;
	left:21.160267111853088%;
	width:66.15191986644408%;
position:absolute;
}
#c839d54b150ac4b4993c349689df82c83{
	top:22.72119243263902%;
	left:20.551378446115287%;
	width:73.80952380952381%;
position:absolute;
}
#c7628d524b1c147248dbd3af828495805{
	top:26.530352251735778%;
	left:6.808688387635756%;
	width:88.01169590643275%;
position:absolute;
}
#c5087d372baf84aab96683e06c2ddb2df{
	top:42.12370214663355%;
	left:15.829145728643216%;
	width:79.2713567839196%;
position:absolute;
}
#c614fdf6a6cbe43d389e096c62818d21f{
	top:49.08592904006625%;
	left:16.582914572864322%;
	width:79.64824120603015%;
position:absolute;
}
#cc9faed6c48dd4ea6929e554ab995ab2a{
	top:63.927638703102105%;
	left:19.041666666666668%;
	width:80.20833333333334%;
position:absolute;
}
#dh49cb5b98b1fd44649a6b8f556e57581e{
	top:2.758137460984776%;
	left:17.98831385642738%;
	width:77.04507512520868%;
position:absolute;
}
#dc49cb5b98b1fd44649a6b8f556e57581e{
	top:3.8728581438308174%;
	left:16.652754590984976%;
	width:77.71285475792989%;
position:absolute;
}
#dh3cc43b9965de4f2c9cd63b0042785b4e{
	top:8.847697305560864%;
	left:19.61602671118531%;
	width:53.38063439065108%;
position:absolute;
}
#dc3cc43b9965de4f2c9cd63b0042785b4e{
	top:10.30001910949742%;
	left:20.74290484140234%;
	width:65.56761268781302%;
position:absolute;
}
#dhd92986c4627b40d5a4c7fead2f99fe3f{
	top:15.179310784126375%;
	left:19.07345575959933%;
	width:42.904841402337226%;
position:absolute;
}
#dcd92986c4627b40d5a4c7fead2f99fe3f{
	top:16.07108733040321%;
	left:19.36560934891486%;
	width:53.00500834724541%;
position:absolute;
}
#dh6351514c894c4960922c6a7ec3c172f1{
	top:56.672399515892735%;
	left:23.576214405360137%;
	width:24.120603015075375%;
position:absolute;
}
#dc6351514c894c4960922c6a7ec3c172f1{
	top:57.666093381744055%;
	left:24.581239530988274%;
	width:70.89614740368509%;
position:absolute;
}

